@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.video-info {
  @include sectionPadding;

  @include desktop {
    margin: 0 0 0 auto;
    width: 70rem;
  }

  &__heading,
  &__stats {
    padding: 0.8rem 0;
    border-bottom: 1px solid $mercury;

    @include tablet {
      border-bottom: none;
    }
  }
  &__heading {
    padding-top: 3rem;
  }

  &__stats {
    color: $mercury;
    @include flex($justify: space-between);

    @include tablet {
      border-bottom: 1px solid $mercury;
    }
  }

  &__creator-date,
  &__engagement {
    @include flex($direction: column, $align: flex-start);

    @include tablet {
      @include flex($justify: flex-start);
    }
  }

  &__engagement {
    @include desktop {
      width: 68.8;
      padding-right: 2rem;
    }
  }

  &__creator {
    font-family: "Avenir Bold";
    font-weight: 700;
    color: $black;
  }

  &__creator,
  &__views {
    padding-right: 3.2rem;
    padding-bottom: 0.8rem;

    @include tablet {
      padding-bottom: 0;
    }
  }

  &__description {
    padding-top: 1.6rem;

    @include desktop {
      padding-right: 2rem;
    }
  }

  &__icon {
    padding-right: 0.4rem;
  }
}
