@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.icon-button {
  @include button($blue);

  &__icon {
    float: left;
    padding-left: 0.8rem;
  }

  &__text {
    padding: 0.4rem 3.6rem 0 0;
    font-weight: 600;
  }
}
