@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-size) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-size) {
    @content;
  }
}

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin sectionPadding {
  padding: 2rem;

  @include tablet {
    padding: 2rem 8rem;
  }
}
