@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-size) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-size) {
    @content;
  }
}

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin sectionPadding {
  padding: 2rem;

  @include tablet {
    padding: 2rem 8rem;
  }
}

@mixin pfp-box {
  background-color: $mercury;
  background-size: cover;
  min-height: 3.6rem;
  min-width: 3.6rem;
  border-radius: 50%;

  @include tablet {
    height: 4.8rem;
    width: 4.8rem;
  }
}

@mixin input {
  background-color: $alabaster;
  border-radius: 0.4rem;
  border: 1px solid $mercury;
  height: 3.6rem;

  &:focus {
    outline: $blue solid 2px;
  }
}

@mixin button($bg: $blue) {
  @if $bg == $blue {
    background-color: $bg;
    color: white;
    &:hover {
      background-color: $dark-blue;
    }
  } @else if $bg == $white {
    background-color: $white;
    color: $blue;
    &:hover {
      background-color: $alabaster;
    }
  }

  border-radius: 0.4rem;
  border: none;
  height: 4rem;
  width: 100%;

  @include tablet {
    width: 16rem;
    height: 4rem;
    margin: 0;
  }
}
