// BREAKPOINTS
$tablet-size: 768px;
$desktop-size: 1280px;

// PRIMARY COLORS
$black: #323232;
$blue: #0095ff;
$silver: #afafaf;

// SECONDARY COLORS
$dark-black: #000000;
$dark-blue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$white: #ffffff;

// BUTTON ICONS
$upload: "../../assets/images/icons/upload.svg";
$publish: "../../assets/images/icons/publish.svg";
$add-comment: "../../assets/images/icons/add_comment.svg";
