@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.comment {
  @include flex($align: flex-start);
  border-bottom: 0.2rem solid $mercury;
  padding-bottom: 1rem;
  margin: 1.6rem auto;

  &__pfp-box {
    @include pfp-box;
    margin-right: 2rem;

    @include tablet {
      margin: 0.4rem 2rem 0 0;
    }
  }

  &__text-display {
    @include flex($direction: column, $align: flex-start);
    min-width: 20rem;

    @include tablet {
      width: 90%;
    }

    @include desktop {
      padding-right: 2rem;
    }
  }

  &__name-date {
    width: 100%;
    padding-bottom: 0.4rem;
    @include flex($justify: space-between);

    @include tablet {
      padding-bottom: 0.8rem;
    }
  }

  &__name {
    font-weight: 800;
    padding-right: 4rem;
  }

  &__date {
    color: $mercury;
  }

  &__comment {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin: 0.4rem 0;
    text-align: left;
  }
}
