@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.next-video {
  &__box {
    @include flex($justify: flex-start, $align: flex-start);
    padding-bottom: 0.8rem;
  }

  &__image {
    border-radius: 4px;
    background-color: $mercury;
    height: 6rem;
    width: 9rem;
    object-fit: cover;
    margin-right: 1.2rem;
  }

  &__title {
    font-weight: 700;
    padding-bottom: 0.8rem;
  }

  &__video-text {
    margin: 0;
    @include flex(
      $direction: column,
      $justify: space-between,
      $align: flex-start
    );
  }
}
