@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.upload-form {
  border-top: 0.2rem solid $mercury;

  @include sectionPadding;

  @include desktop {
    margin-left: 0;
    width: 100rem;
    margin: 0 auto;
  }

  &__heading {
    margin: 1.6rem 0;
    @include tablet {
      padding-bottom: 2rem;
      border-bottom: 0.2rem solid $mercury;
      margin: 4rem 0;
    }
  }
  &__label {
    @include flex($direction: column, $align: flex-start);
    color: $silver;
    font-weight: 600;
    width: 100%;

    @include desktop {
      margin-bottom: 2rem;
    }
  }

  &__image {
    border-radius: 0.4rem;
    background-size: cover;
    background-position: center;
    padding: 0;
    width: 100%;
    margin-bottom: 1.6rem;

    @include tablet {
      width: auto;
      max-height: 18rem;
    }

    @include desktop {
      width: 32rem;
      height: auto;
    }
  }

  &__text-box,
  &__input,
  &__textarea {
    @include tablet {
      width: 100%;
    }
  }

  &__text-box {
    @include tablet {
      padding-bottom: 2rem;
      border-bottom: 0.2rem solid $mercury;
      margin-bottom: 4rem;
    }

    @include desktop {
      padding: 0 0 0 4rem;
      margin: 0;
      border-bottom: none;
    }
  }

  &__image-text-box {
    @include desktop {
      @include flex($align: flex-end);
      padding-bottom: 2rem;
      border-bottom: 0.2rem solid $mercury;
      margin-bottom: 4rem;
    }
  }

  &__image-box {
    margin-bottom: 3rem;
  }

  &__input {
    @include input;
    padding: 1.6rem 1.2rem;
    width: 100%;
    margin: 0 1.6rem 1.2rem 0;

    @include tablet {
      height: 4rem;
    }
  }

  &__textarea {
    @include input;
    font-family: "Avenir Regular";
    font-weight: 400;
    margin: 0 0 1.2rem;
    height: 8rem;
    padding: 1.6rem 1.2rem;
    resize: none;
    overflow: hidden;
    width: 100%;

    @include tablet {
      height: 8rem;
      padding: 1.2rem 0 0 1.2rem;
      margin: 0;
    }
  }

  &__input,
  &__textarea {
    &--invalid {
      outline: #d22d2d solid 1px;
    }

    &--success {
      outline: limegreen solid 1px;
    }
  }

  &__buttons {
    @include flex($direction: column-reverse);
    width: 100%;
    @include tablet {
      @include flex($justify: flex-end);
      align-self: flex-end;
    }
  }

  &__publish {
    @include button;
  }

  &__cancel {
    @include button($bg: $white);
    border: 1px solid black;
    min-width: 28rem;
    max-width: 72rem;
  }

  &__publish,
  &__cancel {
    margin: 2rem 0;
    font-weight: 600;
    @include tablet {
      margin: 2rem 0 0 2rem;
    }
  }
}
