@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.next-videos {
  @include sectionPadding;
  @include tablet {
    margin-right: auto;
    margin-top: 2rem;
  }

  &__heading {
    color: $silver;
    margin: 3rem 0 2.4rem;

    @include tablet {
      margin: 4rem 0 3rem;
    }

    @include desktop {
      margin: 0 0 2rem 0;
    }
  }

  &__links {
    text-decoration: none;
    color: $black;
  }

  @include desktop {
    margin: 0;
    padding: 2rem 0 0 0;
    padding-left: 2rem;
    border-left: 1px solid $mercury;
  }
}
