@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

label {
  color: $silver;
  font-weight: 600;
}

textarea {
  border: 1px solid $mercury;
  background-color: $alabaster;
  border-radius: 5px;
  font-family: "Avenir Regular";
  font-weight: 400;
  margin: 0 0 1.2rem;
  height: 8rem;
  padding: 1.6rem;
  resize: none;
  min-width: 22rem;

  &:focus {
    outline: $blue solid 2px;
  }

  @include tablet {
    min-width: 34rem;
    max-width: 50rem;
    height: 4rem;
    margin: 0;
  }
}

.comment-form {
  @include desktop {
    margin: 0;
    padding: 0;
    align-self: flex-end;
  }

  &__form {
    @include flex($align: flex-start);
    border-bottom: 0.2rem solid $mercury;
    padding-bottom: 0.8rem;
    width: 100%;

    @include tablet {
      @include flex($justify: space-between, $align: flex-end);
      padding-bottom: 2rem;
      max-width: 60rem;
      margin: 0 auto;
    }
  }

  &__form-inputs {
    @include flex($direction: column, $align: flex-start);
    width: 100%;

    @include tablet {
      @include flex($justify: space-between, $align: flex-end);
      margin: 0 auto;
    }
  }

  &__label-textarea {
    @include flex($direction: column, $align: flex-start);
  }

  &__button {
    background: url("../../assets/images/icons/add_comment.svg") no-repeat
      1.6rem;
    width: 90%;

    @include tablet {
      width: 16rem;
      padding: 0;
      margin: 0;
    }
  }

  &__pfp-box {
    @include pfp-box;
    background-image: url("../../assets/images/Mohan-muruge.jpg");
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
