@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.comment-form {
  @include flex($align: flex-start);
  border-bottom: 0.2rem solid $mercury;
  padding-bottom: 0.8rem;
  width: 100%;

  @include tablet {
    @include flex($justify: space-between, $align: flex-end);
    padding-bottom: 2rem;
    width: 60rem;
    margin: 0 auto;
  }

  @include desktop {
    padding-right: 2rem;
  }

  &__form-inputs {
    @include flex($direction: column, $align: flex-start);
    width: 100%;

    @include tablet {
      @include flex($justify: space-between, $align: flex-end);
      margin: 0 auto;
    }
  }

  &__label {
    @include flex($direction: column, $align: flex-start);
    color: $silver;
    font-weight: 600;
  }

  &__textarea {
    border: 1px solid $mercury;
    background-color: $alabaster;
    border-radius: 5px;
    font-family: "Avenir Regular";
    font-weight: 400;
    margin: 0 0 1.2rem;
    height: 8rem;
    padding: 1.6rem;
    resize: none;
    overflow: hidden;
    min-width: 22rem;

    &:focus {
      outline: $blue solid 2px;
    }

    @include tablet {
      width: 36rem;
      height: 4rem;
      padding: 1.2rem 0 0 2rem;
      margin: 0;
    }
  }

  &__pfp-box {
    @include pfp-box;
    background-image: url("../../assets/images/Mohan-muruge.jpg");
    margin-right: 2rem;
    margin-left: 0.4rem;
  }
}
