@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.header {
  @include sectionPadding;
  @include flex($direction: column);
  margin-bottom: 1.6rem;

  @include tablet {
    @include flex($justify: space-between);
  }

  @include desktop {
    width: 100rem;
    margin: 1.6rem auto;
  }

  &__logo {
    @include tablet {
      margin-top: 0.4rem;
    }
  }

  &__flex {
    width: 100%;
    @include tablet {
      @include flex($justify: flex-end);
    }
  }

  &__flex-mobile {
    @include flex($justify: space-between);
    margin: 0.4rem 0;

    @include tablet {
      display: inline-block;
    }
  }

  &__pfp-box {
    @include pfp-box;
    background-image: url("../../assets/images/Mohan-muruge.jpg");

    &--tablet {
      display: none;
    }

    @include tablet {
      padding: 0 0.4rem;
      margin-left: 1.6rem;
      margin-bottom: 0.4rem;
      &--mobile {
        display: none;
      }

      &--tablet {
        display: inline-block;
      }
    }

    @include tablet {
      margin-left: 3rem;
    }
  }

  &__searchbar {
    @include input;
    background: url("../../assets/images/icons/search.svg") no-repeat 0.8rem;
    padding: 1.6rem 1.2rem 1.2rem 4rem;
    width: 100%;
    margin: 0.8rem 1.6rem 0.8rem 0;

    @include tablet {
      max-width: 22rem;
      margin-right: 2rem;
      height: 4rem;
    }

    @include desktop {
      max-width: 32rem;
      margin-right: 2rem;
      height: 4rem;
    }
  }

  &__upload {
    @include tablet {
      margin-left: 1.6rem;
    }
  }
}
