@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

input {
  width: 100%;
  margin-right: 1.6rem;

  @include tablet {
    min-width: 2.4rem;
    max-width: 18rem;
    margin-right: 2rem;
  }
}

button {
  width: 28rem;
  margin: 0.4rem 0;
  @include tablet {
    min-width: 4rem;
    max-width: 16rem;
    margin-right: 2rem;
  }
}

.header {
  padding: 2rem;
  @include flex($direction: column);

  @include tablet {
    padding: 2rem 8rem;
    @include flex($justify: space-between);

    &__flex {
      @include flex($justify: flex-end);
    }
  }

  @include desktop {
    width: 98rem;
    margin: 0 auto;
  }

  &__flex-mobile {
    @include flex($justify: space-between);
    margin: 0.4rem 0;

    @include tablet {
      display: inline-block;
    }
  }

  &__pfp {
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;

    &--tablet {
      display: none;
    }

    @include tablet {
      height: 4rem;
      width: 4rem;

      &--mobile {
        display: none;
      }

      &--tablet {
        display: inline-block;
      }
    }
  }
}
