@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.video {
  background-color: #000000;
  width: 100%;

  &__player-box {
    @include desktop {
      width: 100rem;
      margin: 0 auto;
    }
  }

  &__player {
    min-height: 18rem;
    width: 100%;

    @include tablet {
      padding: 0 8rem;
    }
  }
}
