@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.comments {
  @include sectionPadding;
  @include tablet {
    width: 60rem;
    padding: 2rem 0;
    margin: 0 auto;
  }
  &__total {
    padding: 0 0 2rem 0;
  }

  @include desktop {
    border-right: 1px solid $mercury;
  }
}
